{
  // 전역 변수 사용
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  // airbnb eslint적용 , eslint-plugin-prettier + eslint-config-prettier 적용
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],

  /*
    airbnb 규칙 수정 
    off" or 0 - 규칙 끄기 
    "warn" or 1 - 경고 
    "error" or 2 - 에러 호출
  */
  "rules": {
    "object-curly-newline": 0,
    "linebreak-style": 0,

    // 함수 컴포넌트 함수선언문 -> 화살표함수
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "prettier/prettier": [
      1,
      {
        "endOfLine": "auto" // 줄바꿈 방식인 LF, CRLF를 알아서 해결해줌
      }
    ]
  }
}
