{
  // 전역 변수 사용
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "es2020": true
  },
  // airbnb eslint적용 , eslint-plugin-prettier + eslint-config-prettier 적용
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],

  // optional chaining
  "parserOptions": {
    "ecmaVersion": 2020
  },

  /*
    airbnb 규칙 수정 
    off" or 0 - 규칙 끄기 
    "warn" or 1 - 경고 
    "error" or 2 - 에러 호출
  */
  "rules": {
    "object-curly-newline": 0,
    "linebreak-style": 0,
    // import 제한 해제
    "import/extensions": 0,
    // prop-type 제한 해제
    "react/prop-types": 0,
    // props 스프레드 연산자 쓸 수 있게
    "react/jsx-props-no-spreading": 0,
    "react/no-array-index-key": 0,
    // button 아닌 html tag도 버튼처럼 쓸 수 있게
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,

    // 함수 컴포넌트 함수선언문 -> 화살표함수
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/prefer-default-export": 0,
    "prettier/prettier": [
      1,
      {
        "endOfLine": "auto" // 줄바꿈 방식인 LF, CRLF를 알아서 해결해줌
      }
    ]
  }
}
